h1 {
  color: #6e92ee;
  font-size: 40px;
  font-family: "Pattaya", sans-serif;
  font-weight: 100;
  line-height: 28px;
  padding-top: 10px;
  margin-bottom: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

a {
  color: #6e92ee;
}

small {
  margin: 0 auto;
  display: block;
  max-width: 500px;
}

.weather-wrapper {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #6e92ee;
  border-radius: 8px;
}

.btn-primary {
  background-color: #6e92ee;
  border: none;
}

.btn-primary:hover {
  background-color: #ffe168;
  transition: 200ms;
  border: none;
}

#search-form {
  margin-bottom: 20px;
}

#description {
  margin-bottom: 0;
  padding-bottom: 0;
}

#temperature {
  font-family: "Pattaya", sans-serif;
  font-size: 50px;
  position: relative;
  bottom: -14px;
}

#units {
  position: relative;
  top: -12px;
}
